<div class="main">
    <div class="col input-col">
        <div class="block center">
            <h1 id="title">Colordle</h1>
            <div class="info">
                <p>Can you guess the Hexadecimal Code for the background color?</p>
                <p><span class="bold">#<span id="game_number">?</span></span> - (c) Gavin Smith 2024</p>
            </div>
        </div>
        <div class="block">
            <span class="input-box"><div id="color_display" class="colorbox"></div>#<input id="guess" class="input" type="text" maxlength="6"></span>
        </div>
        <div id="guesses" class="block"></div>
    </div>
</div>

<script src="./js/rand.js"></script>
<script src="./js/color.js"></script>
<script src="./js/game.js"></script>